{% extends "body.html" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container blog-article-header">
        <h1 class="display-4">{{ article.title }}</h1>
    </div>
</section>

<div class="container">

    <div class="blog-article-content">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="text-justify">
                    {{ article.html | safe }}
                </div>

                <div class="text-muted mt-5">
                    Pridané dňa <strong>{{ article.date }}</strong> - <strong>{{ article.author }}</strong>
                </div>
                <div>
                    {% if article.bio %}
                    <hr>
                    <h3>O autorovi</h3>
                    {{ article.bio | safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}
