{% extends "body.html" %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Blog</h1>
    </div>
  </section>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for article in articles %}
        <div class="post-preview">
          <a href="{{ article.link }}">
            <h2 class="post-title">
              {{ article.title }}
            </h2>
            <h4 class="post-subtitle">
              {{ article.summary }}
            </h4>
          </a>
          <p class="post-meta">Pridané dňa {{ article.date }} - {{ article.author }}</p>
        </div>
        <hr>
        {% endfor %}


      </div>
    </div>
  </div>

{% endblock %}
