{% extends "body.html" %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Daruj 2% z dane</h1>
      <p class="lead text-muted">
        Je to najjednoduchší spôsob, ako nám pomôcť <strong>vzdelávať, tvoriť otvorené vzdelávacie materiály a rozširovať otvorené technológie po Slovensku</strong> a prosíme aj o Tvoju podporu. 
      </p>
    </div>
  </section>

  <div class="container">

    <h3>Údaje pre darovanie 2% pre SPy o.z.:</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Názov:</td>
          <td>SPy</td>
        </tr>
        <tr>
          <td>Adresa:</td>
          <td>Moskovská 2651/14, 81108, Bratislava</td>
        </tr>
        <tr>
          <td>IČO:</td>
          <td>48412627</td>
        </tr>
        <tr>
          <td>Právna forma:</td>
          <td>Občianske združenie</td>
        </tr>
        <tr>
          <td>IBAN číslo účtu:</td>
          <td>SK48 8330 0000 0023 0087 0269</td>
        </tr>
        <tr>
          <td>Kód banky:</td>
          <td>8330 (Fio banka a.s)</td>
        </tr>
      </tbody>
    </table>

    
    <h3 class="mt-5">Ako môžem darovať 2% z dane:</h3>


    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Ak ste zamestnanec
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <p>
              Svoje 2 % môžete venovať len vtedy, ak bola vaša daň za celý rok 2022 vyššia ako 150 € (podiel Vašich 2 %
              teda musí byť minimálne 3 €). Zamestnávateľ vám túto sumu určite rád prezradí.
            </p>
            <ol>
              <li>Najprv vám zamestnávateľ musí pripraviť ročné zúčtovanie zaplatených preddavkov na daň. Požiadajte ho oň
                najlepšie do 15. 2. 2023. Ak termín nestihnete, nič nie je stratené. Skúste sa opýtať, väčšina
                zamestnávateľov je ochotná vystaviť potvrdenie aj neskôr.
              </li>
              <li>Požiadajte zamestnávateľa o vyplnenie <strong>potvrdenia o zaplatení dane</strong>.
              </li>
              <li>Potom vyplňte <strong>Vyhlásenie
                  o poukázaní 2 %</strong>.
              </li>
              <li>Darovanie 2 % je anonymné. Ak si prajete, aby sme vedeli, že ste nás podporili práve vy, vo Vyhlásení
                stačí zaškrtnúť políčko „súhlasím so zaslaním údajov“. V tom prípade nám daňový úrad pošle vaše meno
                a adresu. Výška darovanej sumy sa nezverejňuje.
              </li>
              <li>Najneskôr do 30. apríla 2023 doručte obidve tlačivá (z bodu 2. a 3.) daňovému úradu. V prípade
                poslania tlačív poštou platí dátum z pečiatky na obálke.
              </li>
              <li>Povedzte o možnosti darovať 2 % aj vašim blízkym.</li>
            </ol>
            <p>
              Ak ste v roku 2022 odpracovali dobrovoľnícky minimálne 40 hodín, môžete poukázať až 3 % z odvedených
              daní. Musíte však od organizácie/prijímateľa dobrovoľníckej činnosti, pre ktorú/ktorého ste v roku 2022
              dobrovoľnícky pracovali, získať potvrdenie o odpracovaní minimálne 40 hodín dobrovoľníckej činnosti.
              Potvrdenie priložte k Potvrdeniu o zaplatení dane a k Vyhláseniu o poukázaní 2 % (3 %). Minimálne 40
              hodín nemusíte odpracovať iba v prospech 1 organizácie, či jednotlivca – celkový počet môžete „vyskladať“ aj
              z práce pre viaceré organizácie.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Ak ste fyzická osoba a podávate si priznanie sami
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p>Svoje 2 % môžete venovať len vtedy, ak bola vaša daň za celý rok 2022 vyššia ako 150 € (podiel
              Vašich 2 % teda musí byť minimálne 3 €).</p>
            <ol>
              <li>Stiahnite si tlačivo na
                <strong>daňové
                    priznanie typu A (príjmy zo zamestnania a dohôd) alebo tlačivo typu B (živnostníci)</strong>.
                Súčasťou tlačiva je aj oddiel Vyhlásenie o poukázaní 2 %. Pri tlačive typu A je to oddiel VIII. na strane
                5, pri tlačive typu B je to oddiel XII. na strane 11. Vyplňte do tohto oddielu údaje
                  SPy o.z.
              </li>
              <li>
                Darovanie 2 % je anonymné. Ak si prajete, aby sme vedeli, že ste nás podporili práve vy, vo
                daňovom priznaní stačí zaškrtnúť políčko „súhlasím so zaslaním údajov“. V tom prípade nám daňový úrad
                pošle vaše meno a adresu. Výšku darovanej sumy daňový úrad nezverejňuje.
              </li>
              <li>Do 31. marca 2023 (prípadne do dátumu odloženého daňového priznania) doručte tlačivo
                daňovému úradu a uhraďte daň. V prípade poslania tlačív poštou platí dátum z pečiatky na obálke.
              </li>
              <li>Povedzte o možnosti darovať 2 % aj vašim blízkym.</li>
            </ol>
            <p>Ak ste v roku 2022 odpracovali dobrovoľnícky minimálne 40 hodín, môžete poukázať až 3 % z
              odvedených daní. Musíte však od organizácie/prijímateľa dobrovoľníckej činnosti, pre ktorú/ktorého ste v
              roku 2022 dobrovoľnícky pracovali, získať potvrdenie o odpracovaní minimálne 40 hodín dobrovoľníckej
              činnosti. Potvrdenie priložte k Potvrdeniu o zaplatení dane a k Vyhláseniu o poukázaní 2 % (3 %). Minimálne
              40 hodín nemusíte odpracovať iba v prospech 1 organizácie, či jednotlivca – celkový počet môžete
              „vyskladať“ aj z práce pre viaceré organizácie.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Ak ste právnická osoba
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p>Svoje 2 % (prípadne 1 %) z dane môžete venovať, ak bola vaša daň za celý rok 2022 vyššia ako 400
              € (800 €). Podiel Vašich 2 % (prípadne 1 %) teda musí byť minimálne 8 €.</p>
            <ol>
              <li>Stiahnite si tlačivo na
                <strong>daňové
                    priznanie pre právnickú osobu</strong>. Súčasťou tlačiva je aj VI. časť – Vyhlásenie o poukázaní
                podielu zaplatenej dane.
              </li>
              <li>Ak ste v roku 2022 ako právnická osoba až do termínu na podanie daňového priznania v roku 2023
                (zvyčajne do 31. 3. 2023) nedarovali financie vo výške minimálne 0,5 % z dane na verejnoprospešný účel
                (akejkoľvek organizácii), tak môžete poukázať iba 1 % z dane – v daňovom priznaní vyplníte v časti VI.
                kolónky 1, 2, 4 a 5.
              </li>
              <li>Ak ste v roku 2022 ako právnická osoba až do termínu na podanie daňového priznania v roku 2022
                (zvyčajne do 31.3.2023) darovali financie vo výške minimálne 0,5 % z dane na verejnoprospešný
                účel (akejkoľvek organizácii), tak môžete poukázať 2 % z dane – v daňovom priznaní vyplníte v časti
                VI. kolónky 1, 2, 3 a 5.
              </li>
              <li>Darovanie 2 % je anonymné. Ak si prajete, aby sme vedeli, že ste nás podporili práve vy, v
                daňovom priznaní stačí zaškrtnúť políčko „súhlasím so zaslaním údajov“. V tom prípade nám daňový úrad
                pošle názov vašej spoločnosti a adresu jej sídla. Výšku darovanej sumy daňový úrad nezverejňuje.
              </li>
              <li>Do 31. marca 2023 (prípadne do dátumu odloženého daňového priznania) doručte tlačivo
                <strong>daňovému
                    úradu</strong> a uhraďte daň.
              </li>
              <li>Povedzte o možnosti darovať 2 % aj vašim známym či obchodným partnerom.</li>
            </ol>

            <p>Ako právnická osoba môžete poukázať 1 % (2 %) aj viacerým prijímateľom. Platí však, že minimálna
              výška v prospech jedného prijímateľa je 8 €.</p>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-5">Na čo budú peniaze využité?</h3>
    <p>Občianske združenie SPy už od roku 2015 podporuje komunitu Pythonistov na Slovensku. Medzi naše aktivity patrí organizáca konferencie <a target='_blank' href="//pycon.sk">PyCon Slovakia</a>, organizovanie Python meetupov v Bratislave, tvorba metodických materiálov a organizácia školení pre učiteľov v rámci projektu <a target='_blank' href="//ucimeshardverom.sk">Učíme s Hardvérom</a> a rôzne ďalšie aktivity podporujúce Python komunitu na Slovensku. Zistite viac o nás <a href="{{ url_for('o_nas_page')}}.">tu</a>.</p>

  </div><!-- /.container -->
{% endblock %}
