{% extends "body.html" %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <img class="img-fluid" src="{{ url_for('static', filename='img/logo/python.svg') }}">
        <p class="lead text-muted">
            {{ _('Python je moderný programovací jazyk. Je univerzálny, poháňa weby, ale aj robotov.') }}
            {{ _('Je výborný pre vyučovanie programovania.') }}
        </p>
        <p class="lead text-muted">
            {{ _('Komunita na slovensku je mladá a aktívna. Najdeš tu pomoc, kamarátov, alebo aj prácu.') }}
            <strong>{{ _('Vitaj medzi nami.') }}</strong>
        </p>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>{{ _('Pre začiatočníkov') }}</h2>
            <p>{{ _('Základy Pythonu sa dajú naučiť aj z prehliadača. Pripravili sme pre Teba zoznam stránok a aj nejaké
                vlastné materiály, ktoré Ťa odštartujú s Pythonom.') }}</p>
            <p><a class="btn btn-info" href="{{ url_for('navody_page') }}" role="button">{{ _('Chcem sa naučiť Python')
                }} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>{{ _('Zapoj sa!') }}</h2>
            <p>{{ _('Pomôž komunite rásť - organizovaním meetupov na celom Slovensku, zdieľaním učebných materiálov,
                podporou učiteľov informatiky alebo prípravou vlasného Lightning talku.') }}</p>
            <p><a class="btn btn-info" href="{{ url_for('zapojsa_page') }}" role="button">{{ _('Chcem sa zapojiť do
                komunity') }} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>{{ _('Pre učiteľov ZŠ a SŠ') }}</h2>
            <p>{{ _('Cheš učiť na Python na škole, ale nevieš, ako začať? Alebo hľadáš zaujímavé pokročilé príklady,
                ktorými zaujmeš žiakov? Spísali sme Ti užitočné stránky, ktoré Ti pomôžu.') }}</p>
            <p><a class="btn btn-info" href="{{ url_for('ucimepython_page') }}" role="button">{{ _('Chcem učiť v
                Pythone') }} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider  mt-5 mb-5">

    <div class="row">
        <div class="col-lg-4">
            <h2>{{ _('PyCon Slovakia') }}</h2>
            <p>{{ _('Slovenská Python konferencia! Každoročne sa tam stretne takmer 600 členov komunity. Pomôž nám s
                prípravami, propagáciou, skús si prihlásiť prednášku, či workshop. Sponzoruj nás, alebo len príď a uži
                si akciu!') }}</p>
            <p><a class="btn btn-primary" href="https://www.pycon.sk" target="_blank" role="button">{{ _('Hurá konfera')
                }} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>{{ _('Učíme s Hardvérom') }}</h2>
            <p>{{ _('Informatika vie byť aj hravá - napríklad ak sa použije edukačná hračka BBC micro:bit. Preto pre
                učiteľov informatiky organizujeme konferencie, školenia, tvoríme metodiky a poskytujeme podporu.')
                }}</p>
            <p><a class="btn btn-primary" href="https://www.ucimeshardverom.sk/" role="button">{{ _('Čo je to BBC
                micro:bit?') }} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2>{{ _('Python Meetupy') }}</h2>
            <p>{{ _('V Bratislavskom ProgressBare organizujeme Python meetupy, ktoré majú vždy rozdielnu úroveň
                náročnosti - od začiatočníckych po pokročilejšie. Termíny zverejňujeme na našej <a target="_blank"
                                                                                                   href="https://www.facebook.com/pg/pyconsk">FB
                    stránke</a> alebo cez <a target="_blank"
                                             href="https://www.ucimeshardverom.sk/newsletter/subscribe/slovak-python-user-group">newsletter</a>.')
                }}</p>
            <p><a class="btn btn-primary" href="https://www.facebook.com/pyconsk/events/" target="_blank" role="button">{{
                _('Kalendár meetupov') }} &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="embed-responsive embed-responsive-16by9 text-center mt-5">
        <iframe class="embed-responsive-item" width="672" height="378" src="https://www.youtube.com/embed/rOlGoEaz-DA"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>

    <hr class="featurette-divider  mt-3 mb-3">

    <h3 class="text-center">Nechajte si posielať novinky na e-mail</h3>
    <div class="text-center">
        <a href="https://www.ucimeshardverom.sk/newsletter/subscribe/slovak-python-user-group" class="btn btn-primary">Prihlásiť sa na odber SPy newslettra</a>
    </div>

</div><!-- /.container -->
{% endblock %}
