{% extends "body.html" %}

{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Python.sk</h1>
        <p class="lead">
        Na Aprílovom meetupe sa povenujeme doméne python.sk<br />

        Čo a ako by sme s ňou mali robiť, takisto sú vítané návrhy na projekty na tejto doméne.<br />

        Pre začiatok budeme používať Flask a preto si urobíme malé intro do tohoto jednoduchého Frameworku.<br />

        Viac: <a href="https://www.meetup.com/pyconsk/events/238855049/">19. Bratislavský Python Meetup</a>
        </p>
      </div>

    </div><!-- /.container -->
{% endblock %}
