{% extends "body.html" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Návody</h1>
        <p class="lead text-muted">
            <strong>Chceš sa naučiť programovať v Pythone a nevieš, ako začať? Pripravili sme pre Teba zoznam
                stránok, ktoré ti pomôžu :-)</strong>
        </p>
        <p class="lead text-muted">

        </p>
    </div>
</section>

<div class="container">

    <b>Materiály po Slovensky/Česky</b>
    <ul>
        <li><a href="https://tutorial.djangogirls.org/sk/">DjangoGirls (SK preklad)</a></li>
        <li><a href="http://diveintopython3.py.cz/index.html">Ponořme se do Pythonu 3</a></li>
        <li><a href="http://howto.py.cz/index.htm">Učíme se programovat v jazyce Python 3</a></li>
        <li><a href="https://naucse.python.cz/course/pyladies/">PyLadies CZ - Začátečnický kurz</a></li>
    </ul>

    <b>Materiály po Anglicky</b>
    <ul>
        <li><a href="https://www.py4e.com/">Python for Everybody</a></li>
        <li><a href="https://jobtensor.com/Python-Introduction">Jobtensor</a></li>
    </ul>

    <b>Materiály pre tvorbu webových stránok</b>
    <ul>
        <li><a href="https://naucse.python.cz/course/mi-pyt/intro/flask/">Webové aplikace: Flask</a></li>
    </ul>

    <b>Materiály pre programovanie hardvéru</b>
    <ul>
        <li><a href="https://www.ucimeshardverom.sk/materialy/microbit_micropython/">MicroPython & BBC micro:bit</a></li>
        <li><a href="https://naucse.python.cz/course/mi-pyt/intro/micropython/">MicroPython (na ESP8266/NodeMCU)</a></li>
    </ul>

</div><!-- /.container -->
{% endblock %}
