{% extends "body.html" %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">O nás</h1>
      <p class="lead text-muted">
        Združenie SPy už od roku 2015 šíri osvetu o programovacom jazyku Python, o využiteľnosti technológií vo vzdelávaní a otvorene licencovaných zdrojoch.
      </p>
    </div>
  </section>

  <div class="container">

    <p></p>

    <p class="lead ">Podporujeme:</p>

    <ul>
      <li><strong>Python komunitu</strong> podporujeme každoročným organizovaním medzinárodnej konferencie PyCon SK a pravidelných Python meetupov v Bratislave.</li>
      <li><strong>Komunitu učiteľov</strong> podporujeme projektom Učíme s Hardvérom zameranom na zvyšovanie digitálnych zručností, špeciálnou sekciou EduSummit na konferencii PyCon a súťažou SPy Cup.</li>
      <li><strong>Komunitu nadšencov pre vzdelávanie</strong> podporujeme novovznikajúcim projektom EduTalents.</li>
      <li><strong>Open Education komunitu</strong> podporujeme vydávaním otvorene licencovaných materiálov a šírením osvety o otvorenom vzdelávaní medzi učiteľmi i žiakmi.</li>
    </ul>

    <hr class="featurette-divider mt-4 mb-4">

    <h3 class="mb-3">Aké projekty organizujeme?</h3>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-img-top embed-responsive embed-responsive-16by9 text-center">
            <iframe class="embed-responsive-item" width="672" height="378" src="https://www.youtube.com/embed/rOlGoEaz-DA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">PyCon Slovakia</h5>
            <p class="card-text">Konferencia PyCon je každoročné stretnutie komunity využívajúcej a vyvíjajúcej open sourcový programovací jazyk Python. Prostredníctvom nej napĺňame svoj cieľ rozširovať slovenskú (a aj medzinárodnú) komunitu Python programátorov a programátoriek a ľudí podporujúcich open source. Každoročne na trojdňovú konferenciu príde približne 600 ľudí.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-img-top embed-responsive embed-responsive-16by9 text-center">
            <iframe class="embed-responsive-item" width="672" height="378" src="https://www.youtube.com/embed/ioJjB5RUqTE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>          <div class="card-body">
            <h5 class="card-title">EduSummit</h5>
            <p class="card-text">EduSummit je špecializovaná dvojdňová časť konferencie PyCon zameraná na vyučovanie programovania na základných a stredných školách, počas ktorej učiteľkám a učiteľom predstavíme inovatívne spôsoby a metódy vyučovania programovania a taktiež sa spolu zúčastníme workshopov pod vedením skúsených mentorov a mentoriek pre učiteľov. V roku 2019 sa jej zúčastnilo takmer 100 účastníkov.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card">
          <div class="card-img-top embed-responsive embed-responsive-16by9 text-center">
            <iframe class="embed-responsive-item" width="672" height="378" src="https://www.youtube.com/embed/gHa1Knk4V4Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>          <div class="card-body">
            <h5 class="card-title">Učíme s Hardvérom</h5>
            <p class="card-text">Učíme s Hardvérom je projekt zameraný za inovatívny spôsob výučby informatiky na základných a stredných školách pomocou zariadenia BBC micro:bit. Za uplynulý rok sa do projektu zapojilo vyše 50 škôl a odškolili sme vyše 200 učiteľov.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img src="{{ url_for('static', filename='img/photos/meetup_photo.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Python Meetupy</h5>
            <p class="card-text">V Bratislavskom ProgressBare organizujeme Python meetupy, ktoré majú vždy rozdielnu úroveň náročnosti - od začiatočníckych po pokročilejšie. Termíny zverejňujeme na našej <a target="_blank" href="https://www.facebook.com/pg/pyconsk">FB stránke</a> alebo cez <a target="_blank" href="https://pycon.us12.list-manage.com/subscribe/post?u=89d883ce643e7200aabe34fa1&id=e1520cb152">newsletter</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-1">
      <div class="card-header">
        Náš tím
      </div>
      <div class="card-body">
        <h3 class="mb-4">Členovia predsedníctva + kontrolór</h3>
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
              <a target="_blank">
                <img class="card-img-top" src="https://spyoz.eu/static/img/avatar/richard_kellner.jpg" alt="Richard Kellner Avatar">
              </a>
              <div class="card-body">
                <p class="card-text"><b>Richard Kellner</b></p>
                <p class="card-text">Predseda a štatutár</p>
                <hr>
                <p class="card-text text-muted">richard.kellner@pycon.sk</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
              <a target="_blank">
                <img class="card-img-top" src="https://www.ucimeshardverom.sk/static/img/volunteers/marek_mansell.jpg" alt="Marek Mansell Avatar">
              </a>
              <div class="card-body">
                <p class="card-text"><b>Marek Mansell</b></p>
                <p class="card-text">Podpredseda a štatuár</p>
                <hr>
                <p class="card-text text-muted">marek.mansell@pycon.sk</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
              <a target="_blank">
                <img class="card-img-top" src="https://spyoz.eu/static/img/avatar/eva_klimekova.jpg" alt="Eva Klimeková Avatar">
              </a>
              <div class="card-body">
                <p class="card-text"><b>Eva Klimeková</b></p>
                <p class="card-text">Členka predsedníctva</p>
                <hr>
                <p class="card-text text-muted">eva.klimekova@pycon.sk</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
              <a target="_blank">
                <img class="card-img-top" src="https://spyoz.eu/static/img/avatar/juraj_bezrucka.jpg" alt="Juraj Bezručka Avatar">
              </a>
              <div class="card-body">
                <p class="card-text"><b>Juraj Bezručka</b></p>
                <p class="card-text">Kontrolór</p>
                <hr>
                <p class="card-text text-muted">juraj.bezrucka@pycon.sk</p>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mb-4">Členovia valného zhromaždenia</h3>

        <p>Valné zhromaždenie zasadá spravidla raz ročne - kontroluje a vymenúva predsedníctvo a kontrolóra a rozhoduje o dôležitých zmenách v chode združenia. Jej členmi sú: Richard Kellner, Marek Mansell, Eva Klimeková, Juraj Bezručka, Tomáš Pytel, Ján Gondoľ, Michal Nalevanko, Daniel Konštek, Pavol Kincel</p>


        <h3 class="mb-4">Ďalší členovia tímov</h3>

        <p>Pre naše jednotlivé projekty máme vlastné tímy, ktoré sa každý rok mierne menia. Konkrétne informácie nájdete na stránkach <a href="//pycon.sk" target="_blank">PyCon SK</a> a na <a href="//ucimeshardverom.sk" target="_blank">Učíme s Hardvérom</a></p>




      </div>
    </div>


    <div class="card mt-4">
      <div class="card-header">
        Kontakt
      </div>
      <div class="card-body">

        <div class="row row-cols-1 row-cols-md-2">
          <div class="col-lg-6 mb-4">
            <h2>Adresa</h2>
            <p>
              SPy<br>
              Sibírska 1599/21<br>
              83102 Bratislava<br>
              Slovenská Republika
            </p>          </div>
          <div class="col-lg-6 mb-4">
            <h2>Právna forma</h2>
            <p>
              IČO: 48412627<br>
              Registrované na MVSR: 26.8.2015<br>
              Číslo spisu: VVS/1-900/90-466 95<br>
              Stanovy: <a href="/static/download/SPy_stanovy.pdf">PDF</a>
            </p>          </div>
          <div class="col-lg-6 mb-4">
            <h2>Bankové spojenie</h2>
            <p>
              Názov účtu: SPy<br>
              Názov banky: Fio banka, a. s., pobočka zahraničnej banky<br>
              Číslo účtu EUR (IBAN): SK48 8330 0000 0023 0087 0269<br>
              Číslo účtu EUR (SK): 2300870269/8330<br>
              Číslo účtu EUR (CZ): 2300870269/2010<br>
              SWIFT/BIC: FIOZSKBAXXX
            </p>          </div>
          <div class="col-lg-6 mb-4">
            <h2>Nájdite nás online</h2>
            <p>
              <a href="mailto:info%40pycon.sk" class="external">info@pycon.sk</a><br>
              <a href="https://facebook.com/pyconsk" class="external">Facebook</a><br>
              <a href="https://twitter.com/pyconsk" class="external">Twitter</a><br>
              <a href="https://www.linkedin.com/company/spy-o--z-" class="external">LinkedIn</a><br>
              <a href="https://github.com/pyconsk" class="external">GitHub</a><br>
            </p>
          </div>
        </div>

        <hr>

        <p>Naše účtovníctvo spravuje spoločnosť <a href="https://www.fontionnel.sk/" target="_blank">Fontionnel & Co s.r.o.</a></p>

      </div>
    </div>

    <div class="content-text">

          <div class="flex one two-700">
            <div>

            </div>
            <div>

            </div>
          </div>
          <div class="flex one two-900">
            <div>

            </div>
            <div>

            </div>
          </div>
        </div>



  </div><!-- /.container -->
{% endblock %}
