{% extends "body.html" %}

{% block content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">Pre učiteľov</h1>
      <p class="lead text-muted">
        <strong>Sekciu pripravujeme...</strong>
      </p>
      <p class="lead text-muted">
        Už dlhšie sú zverejnené materiály pre učiteľov na stránke Učíme s Hardvérom, a v najbližšom čase pribudnú aj ne-hardvérové Python metodiky práve na tejto stránke :-)
      </p>
    </div>
  </section>

  <div class="container">

  </div><!-- /.container -->
{% endblock %}
