<!-- ABOUT THE TEAM SECTION -->
<div class="mt-5">
    <h2 class="mb-4">Náš tím</h2>
    <p>Každý z iného mesta, a predsa sa vieme spojiť pre dobrovoľníctvo</p>
    <div class="row row-cols-1 row-cols-md-2 align-middle justify-content-center">
        <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
                <a target="_blank">
                    <img class="card-img-top" src="/static/img/covid/nika_klimova.JPG" alt="Nika Klimová Avatar">
                </a>
                <div class="card-body">
                    <p class="card-text"><b>Nika Klimová</b></p>
                    <p class="card-text text-muted">Univerzita Konštantína Filozofa v Nitre</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
                <a target="_blank">
                    <img class="card-img-top" src="/static/img/team/marek_mansell.jpg" alt="Marek Mansell Avatar">
                </a>
                <div class="card-body">
                    <p class="card-text"><b>Marek Mansell</b></p>
                    <p class="card-text text-muted">Slovenská technická univerzita v Bratislave</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
                <a target="_blank">
                    <img class="card-img-top" src="/static/img/covid/miroslav_kvassay.jpg"
                         alt="Miroslav Kvaššay Avatar">
                </a>
                <div class="card-body">
                    <p class="card-text"><b>Miroslav Kvaššay</b></p>
                    <p class="card-text text-muted">Žilinská univerzita v Žiline</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
                <a target="_blank">
                    <img class="card-img-top" src="/static/img/covid/natalia_zakopcanova.jpg"
                         alt="Natália Zákopčanová Avatar">
                </a>
                <div class="card-body">
                    <p class="card-text"><b>Natália Zákopčanová</b></p>
                    <p class="card-text text-muted">Stredná športová škola v Banskej Bystrici</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4 text-center">
            <div class="h-100">
                <a target="_blank">
                    <img class="card-img-top" src="/static/img/covid/bibiana_kleinova.jpg"
                         alt="Bibiána Kleinová Avatar">
                </a>
                <div class="card-body">
                    <p class="card-text"><b>Bibiána Kleinová</b></p>
                    <p class="card-text text-muted">Stredná športová škola v Banskej Bystrici</p>
                </div>
            </div>
        </div>

    </div>
</div>

<hr class="mt-5 mb-5"/>

<!-- SPONSORS SECTION -->
<div>
    <h2 class="text-center">Ďakujeme, že nám pomáhate</h2>
    <div class="row row-cols-1 row-cols-md-2 align-middle justify-content-center">

        <div class="col-md-4 mb-4 text-center align-middle justify-content-center">
            <div class="h-100">
                <a target="_blank">
                    <img class="card-img-top" src="/static/img/covid/henkel.png">
                </a>
            </div>
        </div>

        <div class="col-md-4 mb-4 text-center align-middle justify-content-center">
            <div class="h-100">
                <a target="_blank">
                    <img class="card-img-top" src="/static/img/covid/nadacia-orange-logo.jpg">
                </a>
            </div>
        </div>


    </div>
</div>