{% extends "covid/body_stity.html" %}

{% block content %}
<div class="container text-center">
    <div class="jumbotron jumbotron-fluid">
        <div>
            <h1 class="display-4 font-orange-juice">Spracúvanie osobných údajov</h1>

        </div>
    </div>
</div>

<div class="container">

    <!-- INFO TEXT ABOUT THE APPLICATION SECTION -->
    <div class="text-justify">
        <p>
            SPy o.z. si cení a rešpektuje všetky osoby a organizácie, ktoré využívajú našeslužby. Rozumieme, že môžeš
            mať obavy o svoje súkromie v súvislosti s používaním internetu.
        </p>
        <p>
            Sme presvedčení, že každý by mal mať kontrolu nad tým, kto dostáva jeho osobné informácie, či už o tom, kde
            žije, aké sú jeho záujmy, alebo ako vykonáva transakcie. Naším cieľom je len jediné: riadiť Python komunitu
            na Slovensku v bezpečnom prostredí.
        </p>
        <h3>
            SPy o.z. a bezpečnosť
        </h3>
        <p>
            SPy o.z. robí všetky opatrenia pre ochranu užívateľských informácií. Keď užívateľ(ka) posiela citlivé
            informácie prostredníctvom webovej stránky, tieto informácie sú chránené online aj offline.
        </p>
        <h3>Služby tretích strán, ktoré môže získať časť informácií o tebe:</h3>
        <p>
        <ul>
            <li>
                <b>Google Drive:</b> Nástroj na ukladanie dát a kolaboráciu tímu.
            </li>
            <li>
                <b>MailChimp:</b> Nástroj na posielanie newslettrov a hromadných emailov. Využívame ho na rozposielanie
                emailov viacerým prijímateľom. Prečítaj si jeho pravidlá ochrany súkromia: https://mailchimp.com/legal/
            </li>
            <li>
                <b>Google Analytics:</b> Nástroj na analýzu výkonu webstránok. Využívame ho na zber agregovaných dát o
                návštevníkoch a návštevníčkach našich webstránok. Prečítaj si jeho pravidlá ochrany súkromia:
                https://policies.google.com/privacy
            </li>
            <li>
                <b>Kuriérske spoločnosti:</b> Pre potreby prepravy budú kontaktné údaje zaslané kuriérskej spoločnosti
            </li>
        </ul>
        </p>
        <h3>
            Údaje poskytnuté vo formulári bude spracovávať združenie SPy o.z., a to pre 3 účely:
        </h3>

        <ul>
            <li>
                Vyhodnotenie žiadosti o zaslanie ochranných štítov
            </li>
            <li>
                V prípade získania štítov pre účtovné potreby (v rozsahu údajov v Darovacej zmluve)
            </li>
            <li>
                V prípade získania štítov pre marketingové potreby (zdieľané budú údaje v rozsahu názov organizácie,
                ktorá pomoc získala, počet poskytnutých štítov a fotky)
            </li>
        </ul>

        <p>
            Pre potreby účtovníctva (a najmä vyúčtovania grantov, ktoré naše občianske združenie získalo) je potrebné,
            aby každý domov sociálnych služieb, ktorý prijme ochranné štíty, podpísal a elektronicky zaslal scan
            darovacej zmluvy.
        </p>
        <h3>
            Kontakt
        </h3>
        <p>
            Kontaktnou osobou pre spracúvanie osobných údajov je Marek Mansell, marek.mansell@pycon.sk,
            +421 904 010 424
        </p>

    </div>

</div>
{% endblock %}
