{% extends "covid/body_stity.html" %}

{% block page_css %}
@media only screen and (min-width: 1500px) {
body {
background-image:
url("/static/img/covid/drawing_strom.png"),
url("/static/img/covid/drawing_obalka.png");
background-repeat: no-repeat;
background-size:
30em,
12em;
background-position:
-200px 1vh,
right 60vh;
}
}
{% endblock %}

{% block page_meta_info %}

<meta property="og:url" content="https://python.sk/{{ url_for('stity_seniorom_list') }}"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description"
      content="Máj je mesiac lásky. Poďme ukázať, aké veľké sú naše malé srdiečka. Pošlime spolu listy tým, ktorí sú teraz sami, a ukážme, že na nich myslíme."/>
<meta property="og:image" content="{{ url_for('static', filename='img/covid/list.png') }}"/>

{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="jumbotron jumbotron-fluid">
        <div>
            <h1 class="display-4 font-orange-juice">Májový list seniorom</h1>
            <p class="lead text-muted">Deadline je do <b>22. mája</b></p>


        </div>
    </div>
</div>

<div class="container">

    <!-- INFO TEXT ABOUT THE APPLICATION SECTION -->
    <div class="">
        <p>Ahojte,</p>
        <p>
            už je to naozaj poriadne dlhá doba, čo sme sa naposledy videli v školách s našími kamošmi. Chýbajú nám už aj
            pani učiteľky, pani kuchárky a pani upratovačky. Teraz sme doma s rodičmi a súrodencami. Nie každý však môže
            byť s ľuďmi, ktorých má rád. Napríklad starší ľudia, ktorí žijú v domovoch dôchodcov. Ochrániť ich pred
            vírusom môžeme len tým, že budú sami. Preto sa nemôžu stretávať s ľuďmi, ktorých majú radi.

        </p>
        <p>
            Máj je mesiac lásky. Poďme ukázať, aké veľké sú naše malé srdiečka. Pošlime spolu listy tým, ktorí sú teraz
            sami, a ukážme, že na nich myslíme. Je to naozaj jednoduché. Lebo rozdávať lásku je také jednoduché aj
            naozaj. Poďme sa pozrieť na otázky, ktoré Ti možno vŕtajú hlavou.

        </p>
        <h4 class="">
            Čo mám písať v liste?
        </h4>
        <p>
            Napíš od srdiečka. Určite ľudí v domovoch bude zaujímať ako tráviš čas doma a ako sa máš. Môžeš napísať aj
            čo si sa nové naučil/naučila. Môžeš im dať aj nejaké návody ako by mohli tráviť voľný čas. A určite im napíš
            aj nejakú pochvalu, zvládajú to super.

        </p>
        <h4 class="">
            Čo ak ešte neviem písať?
        </h4>
        <p>
            Nevadí! Určite sa im bude páčiť aj nejaký pekný obrázok. Namaľuj niečo pekné z lásky.
        </p>
        <h4 class="">
            Ako sa mám podpísať?
        </h4>
        <p>
            Napíš nám do e-mailu svoje krstné meno, Tvoj vek a mesto. Ak chceš, môžeš napísať aj Tvoju školu, do ktorej
            chodíš. Mohlo by to vyzerať takto: Janka, 10 rokov, Detva, 3. ZŠ

        </p>
        <h4 class="">
            Kde to mám poslať?
        </h4>
        <p>
            Keď máš list hotový, odfoť ho alebo popros rodičov, nech Ti s fotením pomôžu. Ak si zručný, môžeš ho napísať
            aj priamo na počítači.
        </p>
        <p>
            List nám pošli do <b>22. mája</b> na e-mail:
        </p>
        <h1 class="text-center display-4 font-orange-juice">list@pycon.sk</h1>
        <h4 class="">
            Čo sa stane s mojím listom?
        </h4>
        <p>
            Tvoj list uverejníme aj na našu webovú stránku, aby mohol tešiť všetkých ľudí. Zároveň náhodne listy
            vytlačíme, zabalíme do obálky a keď budeme posielať ochranné štíty do domovov dôchodcov, náhodné listy
            pribalíme do jedného balíka. Potešíme ním celý domov dôchodcov – ochranné štíty dostanú pani ošetrovateľky a
            zdravotné sestry, ktoré sa o starých ľudí starajú a Ty svojím listom potešíš ľudí v domove.

        </p>
        <h4 class="">
            Dozviem sa, kde ste môj list poslali?
        </h4>
        <p>
            Neboj sa, dáme Ti vedieť, do ktorého domova dôchodcov išiel a koľko seniorom si vyčaril úsmev na perách 😊
        </p>
        <p>
            Ďakujeme Ti, že robíš svet lepším.
        </p>
    </div>

    {% include "covid/footer.html" %}
</div>

{% endblock %}
